<!DOCTYPE html>
<html lang="en-gb" ng-app="transform">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Transform converty thing</title>
    <link rel="stylesheet" href="bootstrap.min.css"> </head>

<body>
    <div class="container" ng-controller="transformer">
        <h1 class="display3">transform matrix converter</h1>
        <div class="row">
            <div class="col-lg-12">
                <label for="excelFormat">Paste excel stuff here</label>
                <input type="text" id="excelFormat" placeholder="paste stuff in here" style="width:100%" ng-model="excelFormat" />
                <label for="horizontal">Horizontal</label>
                <input type="checkbox" id="horizontal" ng-model="horizontal" />
                <label for="include-centre">Include centre</label>
                <input type="checkbox" id="include-centre" ng-model="includeCentre" />
            </div>
        </div>
        <div class="row well" ng-show="!badString && excelFormat">
            <div class="col-md-3">XAxis: [{{xAxis.x}}, {{xAxis.y}}, {{xAxis.z}}]</div>
            <div class="col-md-3">YAxis: [{{yAxis.x}}, {{yAxis.y}}, {{yAxis.z}}]</div>
            <div class="col-md-3">ZAxis: [{{zAxis.x}}, {{zAxis.y}}, {{zAxis.z}}]</div>
            <div class="col-md-3">Centre: [{{centre.x}}, {{centre.y}}, {{centre.z}}]</div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-danger" ng-show="badString"> <strong>The pasted text could not be understood</strong> </div>
                <textarea rows="10" cols="60" id="output" ng-model="convert()" style="width:100%; font-family:monospace" placeholder="Result will appear here"> </textarea>
                <button type="button" class="btn btn-default" ngclipboard data-clipboard-action="copy" data-clipboard-target="#output">Copy</button>
            </div>
        </div>
    </div>
    <script src="angular.min.js"></script>
    <script src="clipboard.min.js"></script>
    <script src="ngclipboard.min.js"></script>
    <script src="transform.js"></script>
</body>

</html>